p{
  color:#3a3536;
  font-family: Helvetica, Arial, sans-serif;
}

h1{
font-weight: bold;
font-family: Georgia, "Times New Roman", serif;
}

body{
  background-color: #eac0c6
}
#container{
    width: 95%;
    margin: 0 auto;
    text-align: center;
}
#nav {
    padding: 0;
	list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
  background-color: #3a3536;
}

#nav a:link, a:visited {
	display:block;
    color: #ffffff;
    text-align:center;
    text-decoration: none;
    padding: 1px;
    font-family: Georgia, "Times New Roman", serif;
}

#nav a:hover, a:active {
    background-color: #7a991a;
}

img{
  border: none;
}
#footer{
  text-align: center;
  font-weight: bold;
}
