body{
  background-color: #eac0c6;
  font-family: 'Sahitya', serif;
}

h1 {
  font-size:2em;
font-weight: bold;
}

p{
  font-size:1em;
  color:#3a3536;
}

.nav{
  list-style:none;
  margin:0;
  padding:0;
  background:#3a3536;
  display: flex;
  flex-flow: column;
}

.nav a{
  text-decoration: none;
  display: block;
  color: white;
  text-align:center;
  padding:10px;
  border-bottom: 1px solid black;
}

.nav li:last-of-type a{
  border-bottom: none;
}

.nav li{
  padding: 10px;
}

.nav a:link, a:visited {
	display:block;
    color: #ffffff;
    text-align:center;
    text-decoration: none;
    padding: 1px;
    font-family: Georgia, "Times New Roman", serif;
}

.nav a:hover, a:active {
    background-color: #877b7e;
}

.italic{
  font-style: italic;
}

img{
  border: none;
  display: none;
}
footer{
  text-align: center;
  font-weight: bold;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

header, article, aside, footer {
  flex: 1 100%;
  padding: 10px;
}

.container {
  text-align: center;
}
@media screen and (min-width:600px){

    .container {
        width: 80%;
    }

    img{
        display: block;
    }
}

@media (min-width:800px) {

    .nav {
        flex-flow: row wrap;
        justify-content: flex-end;

    }
    .nav a{
      border: none;
    }

    .nav a:hover{
      background:#877b7e;
    }

    aside {
        flex: 1 auto;
    }

    article {
		flex: 3 0px;
	}

    .aside-1 {
        order: 1;
    }

    article {
        order: 2;
    }

    footer {
        order: 4;
    }

      article {
          display: flex;
          flex-flow: row;
          flex-wrap: wrap;
      }
      .image {
          width: 45%;
      }

      .story {
          width: 45%;
      }

      .first {
          margin-top: 0;
      }
}

@media screen and (min-width:1000px){
  img{
    width:75%;
    align-items: flex-start;

  }
.container{
  width:75%;
  padding-right: 50px;
  padding-left: 50px;
}
}
