body{
  background-color: #eac0c6;
  font-family: 'Sahitya', serif;
}

nav ul li {
    display: block;
    border-top: 1px #79896d solid;
}

nav a {
    color: #79896d;
    display: block;
    text-decoration: none;
    padding: 20px 30px;
}

nav{
  list-style:none;
  margin:0;
  padding:0;
  background:#877b7e;
  display: flex;
  flex-flow: column;
}

nav a{
  text-decoration: none;
  display: block;
  color: white;
  text-align:center;
  padding:10px;
  border-bottom: 1px solid black;
}

nav li:last-of-type a{
  border-bottom: none;
}

nav li{
  padding: 10px;
}

nav a:link, a:visited {
	display:block;
    color: #ffffff;
    text-align:center;
    text-decoration: none;
    padding: 1px;
    font-family: Georgia, "Times New Roman", serif;
}

nav a:hover, a:active {
    background-color: #;
}

header {
    display: flex;
    flex-flow: row;
    background-color: #65a8a6;
    margin: 0;
    padding: 0 10px;
}

.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}
h1 {
  order: 2;
  font-size:2em;
font-weight: bold;
}

p{
  font-size:1em;
  color:#3a3536;
}

nav ul {
  display: none;
}


.italic{
  font-style: italic;
}

img{
  border: none;
  display: none;
}
footer{
  text-align: center;
  font-weight: bold;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

header, article, aside, footer {
  flex: 1 100%;
  padding: 10px;
}

.container {
  text-align: center;
}
@media screen and (min-width:600px){

    .container {
        width: 80%;
    }

    img{
        display: block;
    }

    nav ul {
      display: flex;
    }
}

@media (min-width:800px) {

  .menu-trigger {
      display: none;
  }

    nav {
        flex-flow: row wrap;
        justify-content: flex-end;

    }

    nav ul {
      display: flex;
    }
    
    nav a{
      border: none;
    }

    nav a:hover{
      background:#877b7e;
    }

    aside {
        flex: 1 auto;
    }

    article {
		flex: 3 0px;
	}

    .aside-1 {
        order: 1;
    }

    article {
        order: 2;
    }

    footer {
        order: 4;
    }

      article {
          display: flex;
          flex-flow: row;
          flex-wrap: wrap;
      }
      .image {
          width: 45%;
      }

      .story {
          width: 45%;
      }

      .first {
          margin-top: 0;
      }
}

@media screen and (min-width:1000px){

  .menu-trigger {
      display: none;
  }

  img{
    width:75%;
    flex: auto;

  }
.container{
  width:75%;
  padding-right: 50px;
  padding-left: 50px;
}
aside {
    flex: 1 auto;
}

article {
flex: 3 0px;
}

.aside-1 {
    order: 2;
}

article {
    order: 1;
}

footer {
    order: 3;
}

  article {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
  }
}
